/* Your styles go here *//* Your styles go here */
body
{
    background-color:whitesmoke;
    font-family: cursive;
    opacity: 0.9;
    width: 1000px;
    height: 300px;

}

#container
{
background-color:white;
width: 135%;
height: 212%;
float:inherit;
}
.button {
    background-color:#f3971b; /* Green */
    border: none;
    colo:black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }